.root {
	-fx-background-size: stretch;
}

Label {
	-fx-font-size: 24px;
}

TextField {
	-fx-font-size: 24px;
}

#timeLabel {
	-fx-font-size: 14px;
}

#wallStockLabel {
	-fx-font-size: 14px;
}

Button {
	-fx-background-color: #e6e16a;
	-fx-border-color: black;
}